@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  outline: none;
}

body {
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2, p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1279px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    max-width: 980px;
  }
}
@media (max-width: 999px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 10px;
    max-width: 980px;
  }
}
@media (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 10px;
    max-width: 610px;
  }
}
@media (max-width: 319px) {
  .container {
    max-width: 300px;
    padding: 0 0px;
  }
}
.puzzle {
  text-align: center;
  padding: 30px 0;
  height: 100%;
  background: url(./../img/bg.png) repeat center/cover;
}
.puzzle__btn {
  padding: 5px 12px;
  font-size: 17px;
  background: #69b9ff;
  color: white;
  border: none;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}
.puzzle__btn:hover {
  background: #41a6ff;
}
.puzzle__indicators {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.puzzle__indicators span {
  font-weight: 500;
}
.puzzle__field {
  cursor: pointer;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-template-rows: repeat(auto-fill, 25%);
  width: 602px;
  height: 602px;
  border-radius: 3px;
  margin: 0 auto;
  background: #41a6ff;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.puzzle__field::before {
  content: "";
  position: absolute;
  width: 100vw;
  background: rgba(65, 166, 255, 0.5098039216);
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 0;
  cursor: default;
}
.puzzle__blocked:before {
  z-index: 1;
}
.puzzle__block {
  position: absolute;
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: #424242;
  font-size: 33px;
  border: 1px solid rgb(108, 108, 108);
  border-radius: 3px;
  background: #fff;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.puzzle__block:hover {
  box-shadow: inset 0px 2px 14px 5px rgba(0, 0, 0, 0.5);
}
.puzzle__current-size {
  margin-top: 25px;
}
.puzzle__current-size-variant {
  font-weight: 500;
  margin-left: 10px;
}
.puzzle__sizes {
  margin-top: 15px;
}
.puzzle__size-variant {
  margin: 0 5px;
  cursor: pointer;
  color: #69b9ff;
  text-decoration: underline;
}
.puzzle__size-variant:hover {
  color: #41a6ff;
}

.hidden {
  opacity: 0;
}

#sound-btn img {
  width: 16px;
  margin-bottom: -2px;
}

.saved {
  box-shadow: inset 0px 2px 14px 5px rgba(0, 0, 0, 0.5);
  background-color: brown;
}
.saved:hover {
  background-color: rgb(128, 41, 41);
}